databases/*
.fuse_hidden*
input/*
*.pyc
.snakemake/*
esm/*
esm
up.sh
down_input.sh
.spyproject/*
*.ini
*.bak
experiments/*.tsv
experiments/*/*.tsv
experiments/*.png
down_experiments.sh
experiments/.spyproject
